.leftSide {
    width: 420px;
    height: 100%;
    background: #F9B300;
    border-radius: 21px 0px 0px 21px;
}

.coffee,
.cup {
    position: absolute;
    width: 100%
}

.cup {
    top: -10px;
}

.coffee {
    left: -10px;
}

.title {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        color: black;
    }
}

.textInner {
    margin-top: 301px;
    width: 100%;
    text-align: center;
}

.imgInner {
    position: absolute;
    width: 390px;
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.regBtn {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 14px 0;
    text-align: center;
    width: 253px;
    background-color: #F9B300;
    margin-top: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        scale: 1.03;
        border: none;
        background-color: #fff;
        color: #F9B300;
    }
}