.inner {

    display: flex;
    justify-content: center;

    img {
        margin: 32px 0 40px;
    }

}

.title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 20px;
}

.subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        margin-right: 20px;
    }
}