.inner {
    background: #FFFFFF;
    border: 0.7px solid #E4E4E4;
    border-radius: 14px;
    width: 280px;
    height: 456px;
    padding: 20px 25px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.innerImg{
    display: flex;
    justify-content: center;
}

