.section {
    background: #E5E5E5;
    padding: 170px 0 120px;
    position: relative;
    top: 240px;
    margin-bottom: 340px;
}

.inner {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px 0px;

}

.sortInner{
    position: absolute;
    top: 95px;
    z-index: 3;
}