.profileProductInner {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 35.4254px rgba(163, 163, 163, 0.25);
    border-radius: 14px;
    width: 100%;
    margin-top: 30px;
    padding: 0 100px;
}

.title {
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    color: #222222;
    margin: 40px 0 20px;
}

.items {
    display: flex;
}

.item {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #F9B300;
    background: #F6F6F6;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    width: 180px;
    padding: 7px;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 30px;

    &:hover {
        border: 1px solid #F9B300;
    }

    &.active {
        background: #FFF7E1;
        border: 1px solid #F9B300;
        border-radius: 4px;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
    margin-bottom: 13px;
}

.basketItemsInner {
    background: #FCFCFC;
    border: 1px solid #F0F0F0;
    border-radius: 14px;
    padding: 23px 80px 25px 43px;
}

.basketTableElems {
    display: flex;
    justify-content: space-between;

    .basketTableElem {
        margin: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #222222;
        margin-bottom: 20px;
    }
}

.basketListItems {
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 7px;

    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #747474;
    }
}

.basketListItemPrice,
.basketListItemDiscount,
.basketListItemPriceDiscount {
    position: absolute;
}

.basketListItemPrice {
    left: 236px;
}

.basketListItemDiscount {
    left: 510px;
}

.basketListItemPriceDiscount {
    left: 776px;
}

.sumPrice {
    margin: 35px 0 40px 0;
    width: 100%;
    padding-right: 61px;
    text-align: end;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #747474;
}

.end {
    padding: 50px 0 100px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    color: #222222;
}